{% extends 'main/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
<h3 style="text-align: center;">REGISTRO DE USUARIO</h3>
<br>
<form action="" method="post">
    {% csrf_token %}
    <div class="card mx-auto" style="width: 40rem;">
        <div class="card-body">
          <h5 class="card-title text-center">Ingrese sus datos</h5><br>
          {{ form | crispy }}
          <button class="btn btn-sm btn-primary float-end" type="submit">Registrarse</button>
          <a class="card-link" href="#">Iniciar Sesión</a>
          <a class="card-link" href={% url 'home' %}>Inicio</a>
        </div>
    </div>
</form>
{% endblock %}